<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073540350623-mg7qmre274p8smoc7oeqpttqfeb8qk4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073540350623-mg7qmre274p8smoc7oeqpttqfeb8qk4a</string>
	<key>API_KEY</key>
	<string>AIzaSyDUwvUxTJQrum5SXvxBmhYmMxNmbGk3mrA</string>
	<key>GCM_SENDER_ID</key>
	<string>1073540350623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FirebaseGroceryList</string>
	<key>PROJECT_ID</key>
	<string>xcodegrocerylist</string>
	<key>STORAGE_BUCKET</key>
	<string>xcodegrocerylist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073540350623:ios:61160a7aba51549d0098aa</string>
</dict>
</plist>